@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jakarta";
  src: url("/fonts/PlusJakartaSans.ttf");
}

* {
  font-family: "jakarta";
}

.logos {
  filter: brightness(0) invert(1);
}

.card-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 150%;
  background: #ffffff;
  transform: translateY(50%) rotate(-5deg);
}

nextjs-portal {
  display: none;
}
